#freeMat_section{
    background-color: #fafaed;
}
.free-mat-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
  
}
.par-freeMat{
    text-align:start;
    margin-left: 10px;
    font-size: 20px;
}
.sing-up-btn{
    margin-left: 550px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    background-color:#008f4e ;
    color: #fafaed;
    border: none;
    border-radius:10px ;
    font-size: 20px;
}
.sing-up-btn:hover{
    top:2px;
    scale: 1.02;
    background-color:#fafaed;
    color: #008f4e ;
    border: 1px solid #008f4e ;
   
    
}
@media all and (max-width:800px){
    img{
        width: 300px;
    }
    .sing-up-btn{
        margin-left: 180px;
    }
}

@media all and (max-width:500px){
    .sing-up-btn{
        margin-left: 0;
    }
}