img{
    width: 250px;
}
.program-container{
    margin-left: 10px;
   
}
.program-box{
    display: flex;
    /* flex-direction: column; */
    flex-wrap:wrap ;
    justify-content: space-around;
  margin: 5px;
}
.img-programMap{
    width: 250px;
}