#program_section{
    background-color: #fafaed;
}
img{
    width: 250px;
}
.program-container{
    margin: 10px;
   
}
.title-program{
    font-size: 40px;
    color: #008f4e;
    text-shadow:5px ;

}
.program-box{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
    margin: 10px;
}
.programMap-container{
    width: 350px;
    margin: 10px;
}

@media all and (max-width:800px){
    .programMap-container{
        width: 300px;
    }
}
.img-programMap{
    width: 250px;
}

/* Button */
.btn-prog {
  appearance: button;
  background-color:#008f4e;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 50%;
}

.btn-prog:after {
  background-clip: padding-box;
  background-color:#008f4e ;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.btn-prog:main,
.btn-prog:focus {
  user-select: auto;
}

.btn-prog:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
  
}

.btn-prog:disabled {
  cursor: auto;
}

.btn-prog:active {
  border-width: 4px 0 0;
  background: none;

}
.btn-prog:hover{
    background-color: #fafaed;
}
/*  btn-to-buy*/

.btn-to-buy ,.btn-go-back {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-to-buy:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}



/*    About Product */
.main-container-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.left-container-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 50px;

}

.right-container-box{
  display: flex;
  flex-direction: column;
 
  

  
} 
.rigth-container-box{
  width: 400px;
  margin-left: 20px;
}
.div-btn{
  display: flex;
  flex-direction: column;
  width: 100px;
  margin: 10px;
  padding: 10px;
}
/* .btn-go-back{
  border:none;
  margin-top: 10px;
  background-color: none;
} */
.btn-go-back:hover{
  color: #008f4e;
  scale: 1.1;
}
.info-img{
  width: 350px;
}