.cartItem-container{
    display: flex;
    justify-content: flex-start;
    margin: 30px;
 
}
.cartItem-block1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
   
}
.cart-title{
    color: #008f4e;
    font-size: 40px;
    text-align: center;
}
.totalPrice{
    text-align: center;
    font-size: 30px;
    
}
.cart-container{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.icon-cart {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.cartItem-img{
  width: 420px;
}
.trash-icon{
    width: 20px;
}  
  .btn-cart-box {
    align-self: center;
    border: none;
    border-radius: 25px;
    background-color:#008f4e;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 35px;
    cursor: pointer;
  }
  .btn-cart-box:hover{
    background-color: #4aae81;
    scale: 1.02;
  }
  .add-remove-block{
    margin-left: 100px;
  }
  .add-item, .remove-item{
    background-color: #6bc9c8;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: none;
    color: #ee8699;
    font-size: 30px;
  }
  
  .add-item:hover, .remove-item:hover{
    scale:1.05
  }
  @media all and (max-width:800px){
    .cart-title{
        font-size: 30px;
    }
    .totalPrice{
        font-size: 30px;
    }
    .add-remove-block{
      margin-left: 0;
    }
   
  }
  @media all and (max-width:500px){
    .cartItem-img{
      width: 200px;
    }
    .cartItem-container{
      margin-left: 5px;
    }

  }