.logo-container{
    display: flex;
    justify-content: flex-start;
}
.menu{
    display: flex;
    /* justify-content: space-around; */
    margin: 5px;
    padding: 5px;
}
.menu-list{
    display: flex;
    justify-content: space-between;
    color: #008f4e;
 
 
}
.logo-avacado{
    width: 50px;
}
